<% layout("/layouts/boilerplate") %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <form method="post" action="/listings/<%= listings._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Edit Title :</label>
          <input type="text" value="<%= listings.title %>" name="listing[title]" id="title" class="form-control" required>
          <div class="invalid-feedback">Enter Valid Title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Edit Description :</label>
          <textarea name="listing[description]" id="description" class="form-control" required><%= listings.description %></textarea>
          <div class="invalid-feedback">Enter Valid Description</div>
        </div>

        <div class="mb-3">
          <p>Original Image:</p>
          <div class="ratio ratio-1x1" style="max-width: 150px;">
            <img src="<%= listings.image.url %>" class="img-thumbnail object-fit-cover" alt="">
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image:</label>
          <input type="file" name="listing[image]" id="image" class="form-control">
          <div class="invalid-feedback">Enter Valid Image Link</div>
        </div>

        <div class="row">
          <div class="mb-3 col-12 col-md-4">
            <label for="price" class="form-label">Edit Price :</label>
            <input type="number" value="<%= listings.price %>" name="listing[price]" id="price" class="form-control" required>
            <div class="invalid-feedback">Enter Valid Price</div>
          </div>

          <div class="mb-3 col-12 col-md-8">
            <label for="location" class="form-label">Edit Location :</label>
            <input type="text" value="<%= listings.location %>" name="listing[location]" id="location" class="form-control" required>
            <div class="invalid-feedback">Enter Valid Location</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Edit Country :</label>
          <input type="text" value="<%= listings.country %>" name="listing[country]" id="country" class="form-control" required>
          <div class="invalid-feedback">Enter Valid Country Name</div>
        </div>

        <button class="btn btn-dark add-btn mb-5">Submit</button>
      </form>
    </div>
  </div>
</div>
